# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Login/nbproject/private/
/Login/dist/
/Login/build/
/x/nbproject/private/
/Boton/nbproject/private/
/Boton/build/
/Boton/dist/
/FXMLExample/nbproject/private/
/FXMLExample/dist/
/FXMLExample/build/
/Shape Cuadrado/nbproject/private/
/Shape Cuadrado/build/
/Shape Cuadrado/dist/
/APP Jefatura/nbproject/private/
/AppJefatura/nbproject/private/
/AppJefatura/build/
/AppJefatura/dist/